trigger:
  batch: true
  branches:
    include:
      - main

pr:
  - main

schedules:
  - cron: "0 18 * * 1-5"
    displayName: Daily 6pm build
    branches:
      include:
        - main
    always: "true"

resources:
  repositories:
    - repository: cnp-azuredevops-libraries
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: "hmcts"

parameters:
  - name: overrideAction
    type: string
    default: plan
    values:
      - plan
      - apply
      - destroy
  - name: environment_components
    type: object
    default:
      - deployment: "sandbox_github_network"
        environment: "sbox"
        component: "network"
        service_connection: "HMCTS-HUB-SBOX-INTSVC"
        dependsOn: "Precheck"
      - deployment: "nonprod_github_network"
        environment: "nonprod"
        component: "network"
        service_connection: "HMCTS-HUB-NONPROD-INTSVC"
        dependsOn: "sandbox_github_network"

variables:
  - name: timeoutInMinutes
    value: 60
  - name: agentImage
    value: ubuntu-latest
  - name: product
    value: hub
  - name: terraformInitSubscription
    value: 04d27a32-7a07-48b3-95b8-3c8691e1a263
  - template: vars/input-variables.yaml@cnp-azuredevops-libraries

stages:
  - stage: Precheck
    jobs:
      - job:
        pool:
          vmImage: ${{ variables.agentImage }}
        steps:
          - template: steps/terraform-precheck.yaml@cnp-azuredevops-libraries
            parameters:
              keyvaultName: "infra-vault-nonprod"
              keyvaultSecret: "azure-devops-sp-token"
              serviceConnection: "azurerm-sandbox"
              overrideAction: ${{ parameters.overrideAction }}

  - ${{ each deployment in parameters.environment_components }}:
    - stage: ${{ deployment.deployment }}
      dependsOn: ${{ deployment.dependsOn }}
      jobs:
        - job: TerraformPlanApply
          pool: hmcts-cftptl-agent-pool
          timeoutInMinutes: ${{ variables.timeoutInMinutes }}
          steps:
            - template: steps/terraform.yaml@cnp-azuredevops-libraries
              parameters:
                overrideAction: ${{ parameters.overrideAction }}
                environment: ${{ deployment.environment}}
                component: ${{ deployment.component }}
                serviceConnection: ${{ deployment.service_connection }}
                product: ${{ variables.product }}
                terraformInitSubscription: ${{ variables.terraformInitSubscription }}